* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@keyframes growth {
    from {
        transform: scale(var(--growth-from));
    }

    to {
        transform: scale(var(--growth-to));
    }
}

body {
    display: flex;
    font-family: "Roboto", sans-serif;
    justify-content: center;
    align-items: center;
    background-color: #4c5366;
    margin: 50px 0;
}

.random-forest {
    position: relative;
    width: 450px;
    background-color: #5b6275;
    animation: growth linear 0.3s;
    --growth-from: 0;
    --growth-to: 1;
}

.tab {
    position: absolute;
    top: -1.97rem;
    right: 1.25rem;
    border-bottom: 1.97rem solid #7a8194;
    border-right: 1.52rem solid transparent;
    border-left: 1.52rem solid transparent;
    width: 9rem;
    height: 0;
}

.tab p {
    font-size: 1.25rem;
    text-align: center;
    text-transform: uppercase;
    padding-top: 5px;
    color: white;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    border-radius: 50%;
    width: 1.25rem;
    height: 1.25rem;
    transform: translate(-0.6rem, 12.5rem);
}

.circle span {
    background-color: white;
    border-radius: 50%;
    width: 0.75rem;
    height: 0.75rem;
}

.pointer {
    position: absolute;
    right: -1rem;
    top: 1.7rem;
    background: white;
    width: 1rem;
    height: 1.5rem;
    padding-left: 0.2rem;
}

.pointer:before {
    content: "";
    position: absolute;
    bottom: 0;
    right: -0.75rem;
    width: 0;
    height: 0;
    border-left: 0.75rem solid white;
    border-top: 0.75rem solid transparent;
    border-bottom: 0.75rem solid transparent;
}

.pointer span {
    position: absolute;
    content: "";
    border: 1px solid #000000;
    border-width: 0 0.1em 0.1em 0;
    width: 0.3em;
    height: 0.3em;
    margin-top: 0.55em;
    margin-left: 0.2em;
    transform: rotate(-45deg);
}

.header {
    text-transform: uppercase;
    height: auto;
    color: white;
    padding: 0 1.5rem 1.5rem;
}

.header>p {
    font-size: 24px;
    font-weight: bold;
}

.header .title {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    float: right;
    background-color: #3f4659;
    height: 2.5rem;
    width: auto;
    font-size: 1.5rem;
    margin-top: -3rem;
    padding-right: 0.5rem;
}

.header .title p {
    transform: translateX(-2px);
}

.header .title p::after {
    position: absolute;
    content: "";
    height: 1rem;
    border: 0.25rem solid blue;
    margin-left: -0.25rem;
    margin-top: 1px;
}

.data {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-gap: 0;
    width: 90%;
    height: 1.9rem;
    margin: 0 auto;
}

.data .used {
    height: 1.5rem;
    background-color: #d9dbdf;
}

.data .empty {
    height: 1.5rem;
    background-color: #9196a2;
}

.information {
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #a0a3a8;
    padding: 1.75rem 1.25rem;
}

.information li {
    list-style-type: none;
    padding: 0.8rem 0;
}

.information li span:last-child {
    float: right;
    font-weight: bold;
    color: #fff;
}

.next-page {
    height: 1.52rem;
    background-color: #7c8396;
    padding: 0 0.2rem;
}

.next-page-icon {
    float: right;
    content: "";
    border: 1px solid #636a7e;
    border-width: 0 0.15em 0.15em 0;
    width: 0.55em;
    height: 0.55em;
    margin-top: 0.5em;
    margin-right: 1.5em;
    transform: rotate(-45deg);
}

.next-page-icon:hover {
    cursor: pointer;
}

.next-page-icon:before {
    position: absolute;
    content: "";
    border: 1px solid #636a7e;
    border-width: 0 0.15em 0.15em 0;
    width: 0.4em;
    height: 0.4em;
    margin-top: 0.5em;
    margin-left: 0.5em;
}

.next-page-icon:after {
    position: absolute;
    content: "";
    border: 1px solid #636a7e;
    border-width: 0 0.15em 0.15em 0;
    width: 0.4em;
    height: 0.4em;
    margin-top: -0.5em;
    margin-left: -0.5em;
}

/* Responsive */
@media only screen and (max-width: 600px) {
    .random-forest {
        width: 400px;
    }
}